# dont commit venv stuffs or other artifacts
.venv/*
*.egg-info
*.pyc
sqlite/attendance_tracker.db
build/*
.env

# dont commit empty script for testing stuff
temp.py

# dont commit MacOS files
.DS_Store

# dont commit generated css page stuff or test data
attendance_tracker/static/style.css
/docs/exampleDataWithDates.csv
/sqlite/export_input_data.csv
