{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
</head>
        <!-- Main content -->
        <div class="main-content">
            {% block content %}
                <!-- Tiles for quick stats -->
                <div class="card-grid">
                    <a href="{{ url_for('analytics.room_activity') }}" class="card-tile">Activity Trend</a>
                    <a href="{{ url_for('analytics.usage') }}" class="card-tile">Room Usage</a>
                </div>

            {% endblock %}

        </div>

        <!-- Can't get the spacing right on this logo but we'll keep on trucking -->
        <div class="footy">

        </div>
    </body>



</html>
