<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <!-- Title of the individual page (appears in tab) -->
        <title>{% block title %}{{title}}{% endblock %}</title>
            <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
    </head>

    <body class="min-h-screen flex flex-col">

        <!-- Navbar is fixed on every page -->
        <nav class="header-bar">
            <h1 class="header-title text-white text-xl">Attendance Tracking App</h1>
            <div class="header-actions flex items-center justify-between px-6 py-4">

                <ul class="flex gap-8 text-base text-white">
                    <li class="relative cursor-pointer">
                    <!-- Menu items: -->
                    <!-- Home -->
                    <a href="/" id="home-nav-link" class="hover:after:w-full after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300">Home</a></li>
                    <li class="relative cursor-pointer">

                    <!-- Login -->
                    <a href="/h/auth/login" id="login-nav-link" class="hover:after:w-full after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300">Login</a></li>
                    <li class="relative cursor-pointer">

                    <!-- Admin Home -->
                    <a href="/h/admin/home" id="admin-home-nav-link" class="hover:after:w-full after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300">Admin Home</a></li>
                    <li class="relative cursor-pointer">
                </ul>
            </div>

        </nav>

        <!-- Sidebar -->
        <div class="sidebar">
            <a class="nav-item"  href="/">
                <div class="nav-label">Home</div>
            </a>
            <a class="nav-item"  href="/h/admin/add-club">
                <div class="nav-label">Add club</div>
            </a>
            <a class="nav-item"  href="/h/admin/clubs">
                <div class="nav-label">Clubs</div>
            </a>
            <a class="nav-item"  href="/h/admin/assign-room-to-club">
                <div class="nav-label">Assign room</div>
            </a>
            <a class="nav-item"  href="/h/analytics/data-view">
                <div class="nav-label">Data views</div>
            </a>
        </div>


        <!-- Page specific content -->

        <!-- Individual page name -->
        <h1>{% block name %}{{name}}{% endblock %}</h1>

        <main class="grow pt-20 text-3xl">
            {% block content %}
                {# content goes here #}
            {% endblock %}
        </main>

        <!-- Footer stuff -->
        <footer class="footy">
                Attendance Tracking App 2025
        </footer>

    </body>
</html>
