{% extends "base.html" %}

<!-- Page title -->
{{title}}


<!-- Page content -->
{% block content %}
   <main class="grow pt-20 text-3xl">
      <div class="max-w-7xl mx-auto px-6 py-8 text-center">
          <h1 class="text-3xl text-center font-bold mb-4">{{name}}</h1>
          <p class="mb-6 text-lg">Under construction, expect a little section about the purpose of this app and how to use it.</p>
          <div class="flex justify-center">
            <img class="max-w-2xl rounded-xl"
            src=" {{ url_for('static', filename='images/cats_at_work.png') }} " alt="">
          </div>
      </div>
    </main>
{% endblock %}
