{% extends "base.html" %}
{% block title %} Data View {% endblock %}

{% block content %}
<body>
    <div class="flex flex-col content-center" >
    <div class="grow">
        <canvas id="data-view" data="{{ chart_config }}" | tojson class="bg-white shadow rounded-lg p-4 sm:p-5">
        </canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="flex justify-center gap-2">
        <form action="{{ url_for('analytics.room_activity') }}" method="post">

            <!-- Room selections -->
            <div class="bg-white text-black border text-sm rounded-lg">
                <label for="location" class="block text-sm font-medium text-black">Choose a room:</label>
                <select name="location" id="location-select" required>
                    <option value="" class="mt-1.5 w-full rounded-lg border bg-white">Choose a location</option>
                            {% for building, room in locations %}
                                <option>{{ building}} {{ room }}</option>
                            {% endfor %}
                </select>
            </div>

            <!-- Timeframe options -->
            <div class="bg-white text-black border text-sm rounded-lg">
                <label for="duration" class="block text-sm font-medium text-black">Choose a duration:</label>
                <select name="duration" id="duration-select">
                    <option value="Custom" class="mt-1.5 w-full rounded-lg border bg-white"> Custom </option>
                            {% for d, unit in [(2, "weeks"), (1, "month"), (3, "months"), (6, "months"), (1, "year")] %}
                                <option>{{ d }} {{ unit }}</option>
                            {% endfor %}
                </select>
            </div>
            <div class="bg-white text-black border text-sm rounded-lg">
                <label for="start_date" class="block text-sm font-medium text-black">Choose a time period:</label>
                <input type="date" name="start_date" id="start_date">
            </div>
            <div class="bg-white text-black border text-sm rounded-lg">
                <label for="end_date" class="block text-sm font-medium text-black">Choose a time period:</label>
                <input type="date" name="end_date" id="end_date">
                </select>
            </div>

            <!-- Button -->
            <button class="button-element bg-color" type="submit">Submit</button>
        </form>
        {% if summary_table %}
        <table class="table-auto bg-white text-black border-collapse border text-sm rounded-lg" >
            <caption class="border bg-white border-black text-lg font-bold" >Summary Statistics</caption>
            <thead>
                <tr>
                    <th scope="col" class="border border-black text-center p-2" >Accesses per Week</th>
                    <th scope="col" class="border border-black text-center p-2" >Value</th>
                    <th scope="col" class="border border-black text-center p-2" >When</th>
                </tr>
            </thead>
            <tbody>
                {% for k, v in summary_table.items() %}
                <tr>
                    <th scope="row" class="border border-black text-center p-2" >{{ k }}</th>
                    <td class="border border-black text-center p-2" > {{ v[0] | round(2)}}</td>
                    <td class="border border-black text-center p-2" > {{ v[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    </div>

</body>
<script>
    const ctx = document.getElementById("data-view");
    cfg = JSON.parse(ctx.getAttribute("data"));
    new Chart(ctx, cfg);
</script>
{% endblock %}
