@import "tailwindcss";

@theme {

    --color-cougar-crimson: #A60F2D;
    --color-cougar-red: #CA1237;
    --color-cougar-gray: #4D4D4D;
}

@layer components {
    .header-bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        background-color: #A60F2D;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        z-index: 100;

    }

    .header-actions {
        display: flex;
        align-items: cen;
        gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;
    }


    .user-profile {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        border-radius: 16px;
        margin-bottom: 10px;
        color: white;
        text-decoration: none;
        transition: all 0.3s;
        cursor: pointer;
    }

    .nav-item:hover {
        background-color: #CA1237;
        color: white;
    }

    .nav-label {
        font-size: 12px;
        text-align: center;
    }

    .sidebar {
        width: 110px;
        background-color: #4D4D4D;
        padding: 25px 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
        position: fixed;
        top: 80px;
        bottom: 0;
        z-index: 50;
    }

    .main-content {
        flex: 1;
        padding: 40px 30px 30px 140px;
    }

    .button-element {
        background-color: #A60F2D;
        color: white;
        font-family: "Proxima Nova", "sans-serif";
        cursor: pointer;
        border: none;
        border-radius: 16px;
        padding: 8px;
        transition: all 0.3s;
        margin: 8px;

    }

    .button-element:hover {
        background-color: #CA1237;
        color: white;
    }

    .footy{
        position: static;
        width: 100%;
        background-color: white;
        min-height: 50px;
        padding: 20px 50px;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #4D4D4D;

    }

    .gh-icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        padding: 12px;
        gap: 50px;
        background: url("github-mark.png") no-repeat;
        background-size: contain;
        filter: invert(0);
        transition: filter 0.2s ease;
    }

    .card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        padding: 110px 30px 30px 140px;
        max-width: 900px;
        margin: 40px auto;
        box-sizing: border-box;
    }

    .card-tile {
        background-color: #A60F2D;
        border:rgba(0, 0, 0, 0.05);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
        padding: 30px 20px;
        text-align: center;
        color: white;
        cursor: pointer;
        font-weight: 500;
        transition: all 0.3s;
    }

    .card-tile:hover {
        background-color: #CA1237;
        color: white;
    }
}
